body {
    background-color: cadetblue;
}

.jumbotron {
    font-family: 'Nerko One', cursive;
    background-color: darkslategray;
    text-align: center;
    padding: 11px 0px ;
    
}

.lead {

}

.searchTool {
    height: 110px;
    width: 340px;
    background-color: rgb(59, 149, 240);
    border: solid black;
    text-align: center;
}

.btn {
    background-color: darkslategray;
}

#current {
    
    height: 110px;
    width: 340px;
    background-color: rgb(59, 149, 240);
    border: solid black;
    text-align: center;
    margin-bottom: 20px;
}

#current1 {
    font-size: 22px;
    font-weight: 800;

}

#currentWind {
    margin-bottom: 20px;
}

#forecastMain {
    margin-top: 5px;
    background-color: rgb(59, 149, 240);
    border: solid black;
    text-align: center;
}

#forecast1 {
    border-style: solid;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;
 
}
#forecast2 {
    border-style: solid;
    text-align: center;
    background-color:darkslategray;
    color: whitesmoke;
}
#forecast3 {
    border-style: solid;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;
}
#forecast4 {
    border-style: solid;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;

}
#forecast5 {
    border-style: solid;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;

}
#forecastBody {
margin: 0 auto;
margin-bottom: 10px;
width: 25%;
}

.mainContent {
    margin-bottom: 70px;
    margin-top: 45px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color: white;
    text-align: center;
  }